<!doctype html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="<%= home_path %>">Bookman</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= home_path %>">Товары</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= bag_path %>">Корзина</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= help_path %>">Контакты</a>
        </li>
        <li>
          <a class="btn btn-outline-primary" href="<%= reg_path %>">Регистрация</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container py-5">

  <div class="col-lg-7 mx-auto text-white">
    <h1 class="display-4">Bootstrap 4 list</h1>
    <p class="lead mb-0">Create an elegant product list using Bootstrap 4 list group</p>
  </div>

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <ul class="list-group shadow">
        <li class="list-group-item">
          <!-- Custom content-->
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Проект создан в рамках учебной деятельности курса парадигм и технологий программирования(Ruby)</h5>
              <a class="font-italic text-muted mb-0" href="https://github.com/Monluxfer/book_store">Проект на github</a>
              <div class="d-flex align-items-center justify-content-between mt-1">
              </div>
            </div>
          <!-- End -->
        </li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>