<!doctype html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="<%= home_path %>">Bookman</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= home_path %>">Товары</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= bag_path %>">Корзина</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= help_path %>">Контакты</a>
          </li>
          <li>
            <a class="btn btn-outline-primary" href="<%= reg_path %>">Регистрация</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container py-5">

    <!-- For demo purpose -->
      <div class="col-lg-7 mx-auto text-white">
        <h1 class="display-4">Bootstrap 4 list</h1>
        <p class="lead mb-0">Create an elegant product list using Bootstrap 4 list group</p>
      </div>
    <!-- End -->

    <div class="row">
      <div class="col-lg-8 mx-auto">

        <!-- List group-->
        <ul class="list-group shadow">

          <!-- list group item-->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">У Югами-куна нет друзей</h5>
                <p class="font-italic text-muted mb-0 small">Yugami-kun ni wa Tomodachi ga Inai / Yugami-kun Doesn't Have Any Friends</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">$10.00</h6>
                  <ul class="list-inline small">
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                  </ul>
                </div>
              </div><img src="../images/kun.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->

          <!-- list group item-->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Невероятные Приключения ДжоДжо Часть 3: Крестоносцы звёздной пыли</h5>
                <p class="font-italic text-muted mb-0 small">Stardust Crusaders / JoJo's Bizarre Adventure: Part 3 - Stardust Crusaders</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">$9.00</h6>
                  <ul class="list-inline small">
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  </ul>
                </div>
              </div><img src="../images/jojo.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->

          <!-- list group item -->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Токийский гуль: Перерождение</h5>
                <p class="font-italic text-muted mb-0 small">Toukyou Kushu: Re / Tokyo Ghoul: re</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">$11.00</h6>
                  <ul class="list-inline small">
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                  </ul>
                </div>
              </div><img src="../images/ghoul.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->

          <!-- list group item -->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">Бакуман</h5>
                <p class="font-italic text-muted mb-0 small">Bakuman / Baku-man</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">$10.00</h6>
                  <ul class="list-inline small">
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  </ul>
                </div>
              </div><img src="../images/bakuman.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
            <!-- End -->
          </li>
          <!-- End -->

        </ul>
        <!-- End -->
      </div>
    </div>
  </div>


  </body>
</html>